[submodule "rtxmu"]
	path = libs/rtxmu
	url = https://github.com/NVIDIAGameWorks/RTXMU.git
[submodule "thirdparty/Vulkan-Headers"]
	path = libs/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git

